<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Animal Details</h1>
    <div>
        <p><strong>ID:</strong> <span id="animalId"></span></p>
        <p><strong>Type:</strong> <span id="animalType"></span></p>
        <p><strong>Health Status:</strong> <span id="animalHealthStatus"></span></p>
        <p><strong>Picture:</strong> <img id="animalPicture" alt="Animal Picture" /></p>
		<a href="animal-edit.html">Edit Animal</a>
		    <a href="animal-list.html">Back to Animal List</a>
    </div>
    <a href="/animals">Back to List</a>
</body>
</html>


